@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Montserrat|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.logo {
	height: 50px;
	width: 173px;
}

.main-nav {
	background-color: rgba(13,76,66,1);
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 1%;
	padding-bottom: 1%;	
}

li {
	display: inline;
	margin-left: 1rem;
}
.main-nav a {
	color: #ffffff;
}

.main-nav a:hover {
	color: rgba(255, 221, 0, 1);
}

.navbar-toggler {
  padding: 0.75em;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.navbar-toggler:focus {
  outline: none;
}

.button-register {
	min-width: 140px;
	background-color: rgba(255, 221, 0, 1);
	border: transparent;
	font-weight: bold;
	color: rgba(0,0,0,1) !important;
	text-align: center;
	justify-content: center;
	border-radius: 500px;
	margin-top: 1rem
	margin-bottom: 1rem;
}

.button-register:hover {
	background-color: rgba(255, 221, 0, 0.7);
}

.container-fluid {
    height: 100%;
}

.welcome {
	position: relative;
	height: 100%;
	width: auto;
	margin: 0px 0 0 0;
	padding: 0px 0 0 0;

  	background: url("../img/desert.gif");
	background: -webkit-gradient(linear, left top, right top, from(rgba(19, 144, 124, 0.7)), color-stop(50%, rgba(19, 144, 124, 0.7)), to(rgba(60, 197, 115, 0.7))), url("../img/desert.gif");
	background: linear-gradient(to right, rgba(19, 144, 124, 0.7) 0-30%, rgba(19, 144, 124, 0.7) 30%-50% rgba(60, 197, 115, 1) 100%), url("../img/desert.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.welcome-content {
	color: rgba(255,255,255,1);
	margin: 5%;
	margin-top: 10%;
	margin-bottom: 10%;

}

.welcome-content h1 {
	color: rgba(255,255,255,1);
	font-weight: bold;
}

.welcome-content p {

}

input[type=text], input[type=password], input[type=number], input[type="email"] {
    min-width: 120px;
    padding: 12px 20px;
    margin: 8px 0px 8px 0px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 75%;
}

input placeholder {
	font-size: 50%;
	color: rgba(0,255,0,1);
}

.top-index {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 50%;
	margin: 0px;
	padding: 0px;

  	background: url("../img/faips-flag.jpg");
	background: -webkit-gradient(linear, left top, right top, from(rgba(19, 144, 124, 0.25)), color-stop(50%, rgba(19, 144, 124, 0.25)), to(rgba(19, 144, 124, 0.25))), url("../img/faips-flag.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;	
}

.underline-text {
    padding: 0 10px;
    box-shadow: inset 0 -1.5rem 0 0 rgba(243, 153, 18, 1);
}

.btn-outline-primary {
	align-items: center;
	align-content: center;
	justify-content: center;
}

@media (max-width: 900px )
{
	#removable {
		display: none;
	}

	.top-index h1{
		font-size: 170%;
	}

	.underline-text {
		box-shadow: inset 0 -1rem 0 0 rgba(243, 153, 18, 1);
	}
}

.journey {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 50%;
	margin: 0px;
	padding: 0px;

  	background: url("../img/bg-journey.png");
	background: -webkit-gradient(linear, right top, left top, from(rgba(60, 197, 115, 0.7)), color-stop(70%, rgba(60, 197, 115, 0.7)), to(rgba(19, 144, 124, 0))), url("../img/bg-journey.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.lookup {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 50%;
	margin: 0px;
	padding: 0px;

  	background: url("../img/school-blue.jpg");
	background: -webkit-gradient(linear, left top, right top, from(rgba(99, 190, 193, 0.7)), color-stop(70%, rgba(99, 190, 193, 0.7)), to(rgba(19, 144, 124, 0))), url("../img/school-blue.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.lookup-constant {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 50%;
	margin: 0px;
	padding: 0px;

  	background: url("../img/school-blue.jpg");
	background: -webkit-gradient(linear, left top, right top, from(rgba(99, 190, 193, 0.7)), color-stop(70%, rgba(99, 190, 193, 0.7)), to(rgba(99, 190, 193, 0.7))), url("../img/school-blue.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;

}

.batch {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 50%;
	margin: 0px;
	padding: 0px;

  	background: url("../img/bg-website.jpg");
 	background: -webkit-gradient(linear, left top, right top, from(rgba(243, 153, 18, 0.7)), color-stop(70%, rgba(243, 153, 18, 0.7)), to(rgba(19, 144, 124, 0))), url("../img/bg-website.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.update {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 50%;
	margin: 0px;
	padding: 0px;
  	background: url("../img/faips-name-text.jpg");
	background: -webkit-gradient(linear, right top, left top, from(rgba(70, 160, 220, 0.7)), color-stop(70%, rgba(70, 160, 220, 0.7)), to(rgba(19, 144, 124, 0))), url("../img/faips-name-text.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.update-constant {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 50%;
	margin: 0px;
	padding: 0px;
  	background: url("../img/faips-name-text.jpg");
	background: -webkit-gradient(linear, right top, left top, from(rgba(70, 160, 220, 0.7)), color-stop(70%, rgba(70, 160, 220, 0.7)), to(rgba(70, 160, 220, 0.7))), url("../img/faips-name-text.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.reunion {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 50%;
	margin: 0px;
	padding: 0px;

  	background: url("../img/reunion.jpg");
	background: -webkit-gradient(linear, right top, left top, from(rgba(243, 91, 57, 0.7)), color-stop(70%, rgba(243, 91, 57, 0.7)), to(rgba(19, 144, 124, 0))), url("../img/reunion.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.blocko-top {
	padding: 5% 20% 5% 20%;
}

.blocko {
	padding: 5% 5% 5% 5%;
	margin-top: 1.25%;
	margin-bottom: 2.5%;
}

.blocko-content1 {
		text-align: right;
		padding-right: 5%;
}

.blocko-content1 p {
	color: #ffffff;
}

.blocko-content2 {
		text-align: left;
		padding-left: 5%;
}

.blocko-content2 p {
	color: #ffffff;
}

.underline1 {
	background-color: rgba(255, 221, 0, 1);
	width: 25%;
	float: right;
	height: 3px;
}

.underline2 {
	background-color: rgba(255, 221, 0, 1);
	width: 25%;
	float: left;
	height: 3px;
}

.underline {
	background-color: rgba(255, 221, 0, 1);
	width: 100%;
	height: 3px;	
}

.btn-outline-warning {
	font-weight: bold;
	color: #ffffff!important;
	text-align: center;
	justify-content: center;
	border-radius: 500px!important;
	width: 120px;
}

.btn-outline-warning a{
	color: #ffffff!important;
}

.map {
	margin: 5%;
}

.footer {
	background-color: rgba(13,76,66,1);
	color: #ffffff;
	padding: 2%;
}

h1 {
	color: white;
}

h3 {
	color: white;
	padding-bottom: 0;
	margin-bottom: 0;
}

p{
	width: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
}


h1 {
	font-family: 'Berkshire Swash', cursive;
	font-weight: bolder;
	text-transform: capitalize;
}

h2, h3, h4, h5 {
	font-family: 'Roboto Slab', serif !important;
}
.lookupsub{
	color: black;
	font-family : 'Roboto Slab', serif;
}



