{% extends "layout.html" %}

{% block title %}
	FAIPS Alumni Registration
{% endblock %}

{% block main %}

	<header class="top-index h-50 blocko-top">
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col align-self-center text-center">
					<h1>
						<span class="underline-text">
							"Distance means so little when you mean so much!"
						</span>
					</h1>
				</div>
			</div>
		</div>
	</header>

	<div class="blocko-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col align-self-center text-center">
					<h2>We have seen each other in our highs and lows,</h2>
					<h2>	Register now and let the family grow!     </h2>
					<br>
					<p>
						Register Now to get a achance to contact your batch mates who made your childhood. It doesn't matter if you finished graduation in DPS, if you were part of the school, you are one of us. Click on the button below and enter your graduation / expected graduation year (if you continued at school).
					</p>
					<br>
					<a class="button-register btn" style="width: 30%;"  href="#" data-toggle="modal" data-target="#RegisterModal" id="btn-modal">Register</a>
				</div>
			</div>		
		</div>
	</div>
	
	<div class="blocko journey">
		<div class="container-fluid w-100">
			<div class="row w-100">
				<div class="col" id="removable"></div>
				<div class="col blocko-content1">
					<h3>
						Journey
					</h3>
					<hr class="underline1">
					<br><br>
					<p>
					Established in 1995, FAIPS-DPS has come a long way in serving as a prime educational institute in Kuwait. With every successful outgoing batch the school flag has risen higher and higher. FAIPS has been a second home to each and every one of its students. The school has cocooned young minds and guided them through the spectrum of phases life has to offer. In return prospering in every walk of life the students continue to keep the flame of the torch of success lit. 
					</p>
					<button type="button" class="btn btn-outline-warning">
						<a href="http://www.faipskuwait.com/">Explore</a>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="blocko lookup">
		<div class="container-fluid w-100">
			<div class="row w-100">
				<div class="col blocko-content2">
					<h3>
						Lookup
					</h3>
					<hr class="underline2">
					<br><br>
					<p>
					Remember that one kid who used to get the best Pasta to school? Or the one who was always a teacher’s pet? And how can you forget the best footballer? Get in touch with a friend you haven’t spoken to in a long time. Revisit and chat about some old memories whilst you convey the message you wish to.
					</p>
					<button type="button" class="btn btn-outline-warning">
						<a href="./lookup.html">Explore</a>
					</button>
				</div>
				<div class="col" id="removable">
				</div>
			</div>
		</div>
	</div>

	<div class="blocko update">
		<div class="container-fluid w-100">
			<div class="row w-100">
				<div class="col" id="removable">
				</div>
				<div class="col blocko-content1">
					<h3>
						Update Records
					</h3>
					<hr class="underline1">
					<br><br>
					<p>
					Be it moving to a new university, shift in workplace or a change in your email address; get all your information updated here. Keeping our records up to date is one thing our admins love doing XD
					</p>
					<button type="button" class="btn btn-outline-warning">
						<a href="./update.html">Explore</a>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="blocko-top w-100">
		<div class="container-fluid w-100">
			<div class="col text-center w-100">
				<h2>
					Scattered across the world. United as one.
				</h2>
				<p>
					FAIPS is extremely proud of the places you have ended up in. From simple beginnings in Kuwait, it's never lost on us the impact our alumni have on the world.
				</p>
				<img src="static/img/map.jpg" class="w-100 map">
			</div>	
		</div>
	</div>

	<div class="blocko batch">
		<div class="container-fluid w-100">
			<div class="row w-100">
				<div class="col blocko-content2">
					<h3>
						Batch Websites

					</h3>
					<hr class="underline2">
					<br><br>
					<p> 
					Every batch has some memories that are exclusive and unique to that particular batch.
						Find your batch memories galore here! 
						P.S you can customize your batch websites too! 

					</p> 
					<button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#RegisterModal" id="btn-modal">
						Explore
					</button>
				</div>
				<div class="col" id="removable">
				</div>
			</div>
		</div>
	</div>

	<div class="blocko reunion">
		<div class="container-fluid w-100">
			<div class="row w-100">
				<div class="col" id="removable">
				</div>
				<div class="col blocko-content1">
					<h3>
						Reunion Planning!
					</h3>
					<hr class="underline1">
					<br><br>
					<p>
					Reminiscence some of your favourite memories with your childhood friends. A friend whom you built sand castles with in kindergarten and also stayed up late studying in the 12th grade. Friend with whom you have performed, played and fought. 
						Organise a Reunion for your batch! Relive some old stories, unfold some cherished memories. 

					</p>
					<button type="button" class="btn btn-outline-warning">
						<a href="./static/pdf/reunion.pdf">Explore</a>
					</button>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}