<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="registerform" action="index.html" method="post">
      <label for="">Name</label>
      <input type="text" name="Name" value="" id="Name" required>

      <label for="">Batch</label>
      <input type="text" name="Batch" value="" id="Batch" required>

      <label for="">Stream</label>
      <input type="text" name="Stream" value="" id="Stream" required>

      <label for="">Email Id</label>
      <input type="email" name="email" value="" id="email" required>

      <label for="">Contact Number</label>
      <input type="number" name="Contact Number" value="" id="contact" required>

      <label for="">Whatsapp Number</label>
      <input type="number" name="Whatsapp" value="" id="whatsapp" required>

      <label for="">Current Place of work (if any)</label>
      <input type="text" name="workplace" value="" id="Current-workplace">

      <label for="">Current University (if any)</label>
      <input type="text" name="Present University" value="" id="Current-university">

      <label for="">Major/Area of Speciality</label>
      <input type="text" name="Major" value="" id="Major" required>

      <label for="">Country</label>
      <input type="text" name="country" value="" id="country" required>

      <label for="">Work History</label>
      <input type="text" name="Work History" value="" id="work-history">

      <label for="">University History</label>
      <input type="text" name="University History" value="" id="Uni-History" required>


    </form>
  </body>
</html>
